@media screen and (min-width: 761px) {
  .header-nav {
    font-weight: bold;
  }
  .texto1 {
    background-image: url(../imagenes/Imagen\ de\ WhatsApp\ 2023-06-07\ a\ las\ 15.45.41.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 92vh;
  }
  .backgroundcolor-nav {
    background-color: rgb(111, 0, 255);
    padding: 0%;
  }
  .letra-nav {
    color: white;
    font-size: 20px;
  }
  .texto1 h1 {
    font-weight: bold;
    color: white;
    font-size: 90px;
    margin-left: 800px;
    margin-bottom: 65px;
  }
  .texto1 h2 {
    font-weight: bold;
    color: white;
    font-size: 30px;
    margin-left: 740px;
    position: relative;
    bottom: 60px;
  }
  .texto1 p {
    color: white;
    font-size: 19px;
    width: 50%;
    margin-top: 10px;
    margin-left: 600px;
    text-align: center;
    position: relative;
    bottom: 60px;
  }
  .galeria-de-anuel h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    background-color: rgba(122, 96, 143, 0.753);
    font-size: 50px;
  }
  .imganuel1 img {
    width: 180px;
  }
  .imganuel1 {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
  .titulo h1 {
    font-size: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.219);
  }
  /* Redes de la galeria */
  .logofacebook-galeria {
    width: 40px;
    position: relative;
    top: 85px;
    left: 1090px;
  }
  .logowhatsapp-galeria {
    width: 40px;
    position: relative;
    top: 85px;
    left: 1120px;
  }
  .logoinstagram-galeria {
    width: 58px;
    position: relative;
    top: 85px;
    left: 1145px;
  }
  /* Canciones */
  .cancion-para-mobile {
    display: none;
  }
  .cancionesul {
    list-style: none;
    font-size: 0.1;
    padding: 1;
    text-align: right;
  }
  .cancionesli {
    display: inline-block;
    width: 10%;
    position: relative;
    right: 45px;
    bottom: 20px;
  }
  .cancionesa {
    font-size: 15px;
    text-align: center;
    display: block;
    color: white;
    background-color: rgb(68, 68, 68);
    padding: 5%;
    text-decoration: none;
  }
  .cancionesa:hover {
    background-color: black;
    font-weight: bold;
  }
  .imgcanciones1 {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
  .nombredelacancion1-11 {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 13px;
  }
  .nombredelacancion1 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 15px;
  }
  .nombredelacancion2 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 20px;
  }
  .nombredelacancion3 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 23px;
  }
  .nombredelacancion4 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 23px;
  }
  .nombredelacancion5 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 25px;
  }
  .nombredelacancion6 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 22px;
  }
  .nombredelacancion7 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 24px;
  }
  .nombredelacancion8 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 25px;
  }
  .nombredelacancion9 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 26px;
  }
  .nombredelacancion10 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 28px;
  }
  .nombredelacancion11 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 28px;
  }
  .imgcanciones2 {
    position: relative;
    top: 25px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
  .nombredelacancion12-22 {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 13px;
  }
  .nombredelacancion12 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 17px;
    background-repeat: repeat-x;
    top: 25px;
  }
  .nombredelacancion13 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 20px;
    top: 25px;
  }
  .nombredelacancion14 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 24px;
    top: 25px;
  }
  .nombredelacancion15 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 26px;
    top: 25px;
  }
  .nombredelacancion16 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 26px;
    top: 25px;
  }
  .nombredelacancion17 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 26px;
    top: 25px;
  }
  .nombredelacancion18 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 27px;
    top: 25px;
  }
  .nombredelacancion19 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 27px;
    top: 25px;
  }
  .nombredelacancion20 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 28px;
    top: 25px;
  }
  .nombredelacancion21 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 28px;
    top: 25px;
  }
  .nombredelacancion22 {
    display: inline-block;
    width: 8%;
    position: relative;
    left: 29px;
    top: 25px;
  }
  .logofacebook-canciones {
    width: 40px;
    position: relative;
    top: 140px;
    left: 1070px;
  }
  .logowhatsapp-canciones {
    width: 40px;
    position: relative;
    top: 140px;
    left: 1100px;
  }
  .logoinstagram-canciones {
    width: 58px;
    position: relative;
    top: 140px;
    left: 1130px;
  }
  /* Redes de informacion */
  .logofacebook-informacion {
    width: 40px;
    position: relative;
    top: 15px;
    left: 1070px;
  }
  .logowhatsapp-informacion {
    width: 40px;
    position: relative;
    top: 15px;
    left: 1100px;
  }
  .logoinstagram-informacion {
    width: 55px;
    position: relative;
    top: 15px;
    left: 1130px;
  }
  /* Redes de index */
  .logofacebook-index {
    width: 40px;
    position: relative;
    left: 1100px;
    bottom: 65px;
  }
  .logowhatsapp-index {
    width: 40px;
    position: relative;
    left: 1118px;
    bottom: 63px;
  }
  .logoinstagram-index {
    width: 47px;
    position: relative;
    left: 1137px;
    bottom: 63px;
  }
  /* Contacto */
  #nombre {
    position: relative;
    left: 480px;
  }
  #apellido {
    position: relative;
    left: 485px;
  }
  #mensaje {
    position: relative;
    top: 80px;
    right: 308px;
    width: 400px;
    padding: 2.5%;
  }
  #enviar {
    position: relative;
    top: 170px;
    right: 550px;
    color: white;
    text-align: center;
    background-color: black;
    font-weight: bold;
    transition: background-color 0.5s;
  }
  #enviar:hover {
    background-color: rgb(55, 156, 55);
    color: white;
    font-weight: bold;
    width: 90px;
  }
  .logofacebook {
    width: 40px;
    position: relative;
    top: 300px;
    left: 1070px;
  }
  .logowhatsapp {
    width: 40px;
    position: relative;
    top: 300px;
    left: 1100px;
  }
  .logoinstagram {
    width: 58px;
    position: relative;
    top: 300px;
    left: 1130px;
  }
  .navint-ul {
    font-size: 1;
    text-align: none;
  }
  .navint-li {
    display: inline-block;
    width: 12%;
    position: relative;
  }
  #busqueda {
    position: relative;
    top: 30px;
    left: 20px;
    width: 400px;
    padding: 1;
    font-size: 17px;
    background-color: white;
    border-radius: 20px;
  }
  .articles-informacion {
    padding: 0.8%;
  }
  .backgroundcolor-nav-info {
    background-color: black;
    height: 26px;
  }
  .letra-nav-info {
    color: white;
    font-size: 15px;
  }
  .letra-nav-info:hover {
    background-color: white;
    color: black;
  }
}
@media screen and (max-width: 760px) {
  footer {
    display: flex;
    justify-content: center;
    position: end;
    background-color: black;
  }
  .backgroundcolor-nav {
    background-color: rgb(111, 0, 255);
  }
  .letra-nav {
    color: white;
    font-size: 20px;
  }
  /* Index */
  .imagen {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/mobilenuevo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .texto1 h1 {
    background-color: rgba(0, 0, 0, 0.185);
    color: white;
    font-size: 60px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: bold;
    position: relative;
    left: 15px;
    bottom: 25px;
  }
  .textos {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .texto1 h2 {
    color: white;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    width: 100%;
    font-weight: bold;
  }
  .texto1 p {
    color: white;
    font-size: 18px;
    width: 70%;
    text-align: center;
  }
  .logofacebook-index {
    width: 62px;
    padding: 5%;
  }
  .logowhatsapp-index {
    width: 60px;
    padding: 7%;
  }
  .logoinstagram-index {
    width: 60px;
    padding: 7%;
  }
  /* Canciones */
  .cancion-para-mobile {
    font-size: 25px;
    background-color: rgb(151, 170, 255);
    color: black;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }
  #busqueda {
    width: 200px;
    text-align: center;
    height: 42px;
    font-size: 20px;
    background-color: rgb(201, 201, 201);
    position: relative;
    top: 37px;
    left: 85px;
    font-weight: bold;
  }
  .cancionesul {
    list-style: none;
    font-size: 0.1;
    padding: 1;
    text-align: right;
  }
  .cancionesli {
    display: inline-block;
    width: 23%;
    position: relative;
    right: 43px;
    bottom: 48px;
  }
  .cancionesa {
    font-size: 18px;
    text-align: center;
    display: block;
    color: white;
    background-color: rgb(43, 43, 43);
    padding: 5%;
    text-decoration: none;
  }
  .imgcanciones1 {
    display: none;
  }
  .nombredelacancion1-11 {
    display: none;
  }
  .imgcanciones2 {
    display: none;
  }
  .nombredelacancion12-22 {
    display: none;
  }
  .logofacebook-canciones {
    width: 62px;
    padding: 5%;
  }
  .logowhatsapp-canciones {
    width: 60px;
    padding: 7%;
  }
  .logoinstagram-canciones {
    width: 60px;
    padding: 7%;
  }
  /* Galeria */
  .imganuel1 img {
    width: 185.3px;
    padding: 1%;
  }
  .imganuel1 {
    background-color: rgba(209, 64, 178, 0.397);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
  }
  .titulo {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgba(20, 20, 20, 0.788);
  }
  .logofacebook-galeria {
    width: 63px;
    padding: 5%;
  }
  .logowhatsapp-galeria {
    width: 68px;
    padding: 7%;
  }
  .logoinstagram-galeria {
    width: 68px;
    padding: 7%;
  }
  /* Informacion */
  .articles-informacion {
    padding: 0.8%;
  }
  .logofacebook-informacion {
    width: 62px;
    padding: 5%;
  }
  .logowhatsapp-informacion {
    width: 60px;
    padding: 7%;
  }
  .logoinstagram-informacion {
    width: 60px;
    padding: 7%;
  }
  /* Contacto */
  .div-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #enviar {
    position: relative;
    top: 170px;
    color: white;
    text-align: center;
    background-color: black;
    font-weight: bold;
  }
  .logofacebook {
    width: 62px;
    padding: 5%;
    margin-top: 945%;
  }
  .logowhatsapp {
    width: 60px;
    padding: 7%;
    margin-top: 945%;
  }
  .logoinstagram {
    width: 60px;
    padding: 7%;
    margin-top: 945%;
  }
}

/*# sourceMappingURL=styles.css.map */
